<h2 class="title">New story</h2>
<form role="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" type="input" name="name" class="form-control" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input id="description" type="input" name="description" class="form-control" />
  </div>
  <div class="form-group">
    <label for="points">Points</label>
    <input id="points" type="input" name="points" class="form-control" />
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
